# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/codeStyleSettings.xml
.idea/.name
.idea/codeStyleSettings.xml
.idea/encodings.xml
.idea/codeStyleSettings.xml
.idea/jsLibraryMappings.xml
.idea/libraries/szfront_node_modules.xml
.idea/codeStyleSettings.xml
.idea/misc.xml
.idea/modules.xml
.idea/szfront.iml
.idea/vcs.xml
.idea/watcherTasks.xml
.idea/workspace.xml
.idea/codeStyleSettings.xml
*.xml
